.container {
    text-align: center;
    overflow  : hidden;
}

.swiper {
    position: relative;
}

.swiperContainer {
    position: relative;
    width   : 100%;
    height  : 500px;
    overflow: hidden;
}

.swiperSlide {
    position  : absolute;
    left      : 50%;
    top       : 50%;
    transform : translate(-50%, -50%);
    width     : 100%;
    height    : 500px;
    opacity   : 0;
    transition: opacity 1s;

    &.cur {
        z-index: 10;
        opacity: 1;
    }

    .imgBehind {
        width: 100%;
    }

    .imgAhead {
        position  : absolute;
        left      : 50%;
        top       : 50%;
        transform : translate(-50%, -50%);
        width     : 950px;
        text-align: center;
        z-index   : 6;
        opacity   : 1;
        transition: opacity 1s;
        cursor: pointer;
    }

    .canvasBg {
        position  : absolute;
        left      : 50%;
        top       : 50%;
        transform : translate(-50%, -50%);
        z-index   : 3;
        opacity   : 1;
        transition: opacity 1s;
    }
}

.switchList {
    width   : 100%;
    position: absolute;
    bottom  : 0px;
    z-index: 10;

    li {
        display       : inline-block;
        padding-top   : 5px;
        padding-bottom: 5px;
        margin-right  : 10px;
        cursor        : pointer;
        color         : #999;

        &:before {
            content         : "";
            display         : block;
            width           : 30px;
            height          : 4px;
            background-color: currentColor;
        }

        &.cur {
            color: #f00;
        }
    }
}